# /opt/chinachu/.config/systemd/user/mirakurun-user.service
# {{ ansible_managed }}

[Unit]
Description=Mirakurun

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=/opt/chinachu/docker-mirakurun-chinachu
ExecStart=/usr/local/bin/docker-compose up -d mirakurun
ExecStop=/usr/local/bin/docker-compose stop mirakurun

[Install]
WantedBy=default.target
