# /etc/systemd/system/mirakurun-chinachu.service
# {{ ansible_managed }}

[Unit]
Description=All in one Mirakurun & Chinachu
Requires=docker.service
After=docker.service network.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=/opt/chinachu/docker-mirakurun-chinachu
ExecStart=/usr/local/bin/docker-compose up --force-recreate
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
